<section>
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Requested For</div>
      <div class="dx-field-value">
        <dx-select-box
          [dataSource]="users"
          displayExpr="name"
          valueExpr="id"
          label="User"
          labelMode="floating"
          placeholder="Select a user"
          id="link1"
          (onItemClick)="showUserDetailsPopover($event)"
        ></dx-select-box>
      </div>
    </div>
  </div>

  <dx-popover
    target="#link1"
    showEvent="mouseenter"
    hideEvent="mouseleave"
    [width]="300"
    #userDetailsPopover
    *ngIf="popoverDetailVisible"
  >
    <div *ngIf="!!selectedUser" class="dx-field">
      <div class="dx-field-label">
        <img [src]="selectedUser.avatar" alt="User Avatar" />
      </div>
      <div class="ml-3 dx-field-value">
        <strong>{{ selectedUser.name }}</strong>
        <p>{{ selectedUser.email }}</p>
        <p>{{ selectedUser.phone }}</p>
      </div>
    </div>
  </dx-popover>
</section>
